.popup {
  position: fixed;
  top: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99;
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
