.popup__input {
    min-width: 358px;
    margin-bottom: 30px;
    background: #ffffff !important;
    outline: none;
    border:none;
    border-bottom:1px solid black;
    color:black;
    font-size: 14px;
    line-height: 17px;
    padding-bottom:13px;
    
}


@media screen and (max-width: 767px) {
    .popup__input {
        min-width: 0;
        min-width: 238px;
    }
    .popup__input:last-child {
        margin-bottom: 0;
    }
}
