.prifile__flex_column {
    max-width: 294px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 18px;
   
    
}

@media screen and (max-width: 767px) {
    .prifile__flex_column {
        
        margin: 0 auto;
    }
  }
