.popup__close {
    min-width: 40px;
    min-height: 40px;
    transform: translate(100%,-150%);
    background-image: url("../../../images/popup-clouse-icon.svg");
    background-position: center center;
    background-repeat: no-repeat;
    align-self: flex-end;
    background-color:rgba(225, 225, 225, 0);
    border: none;
    outline: none;
    box-sizing: border-box;
}

.popup__close:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .popup__close {
        min-height: 26px;
        min-width: 26px;
        transform: translate(0,-150%);
    }
}
