.profile__buttons-edit {
  max-width: 24px;
  max-height: 24px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  background-color: black;
  outline: none;
  position: absolute;
  left: calc(100% + 25px);
}

.profile__buttons-edit:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .profile__buttons-edit {
      left: calc(100% + 15.25px);
  }
}
