.prifile__avatar {
    overflow: hidden;
    min-width: 168.75px;
    min-height: 127.5px;
    border: 1px solid #c4c4c4;
    border-radius: 100%;
    margin-right: 10px;
}

@media screen and (max-width: 1023px) {
    .prifile__avatar {
        max-width: 168.75px;
        max-height: 168.5px;
    }
}
