.prifile__info {
    max-width: 336px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}

@media screen and (max-width: 767px) {
    .prifile__info {
        max-width: 282px;
    }
  }
