.profile__button-position {
    max-width: 294px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 18px;
}

@media screen and (max-width: 767px) {
    .profile__button-position {
        margin: 0 auto;
    }
}
