.profile__avatar-text {
    display: flex;
    gap: 22.25px;
}

@media screen and (max-width: 1024px) {
    .profile__avatar-text {
        flex-direction: column;
        align-items: center;
    }
}
