.popup__clouse {
    min-width: 40px;
    min-height: 40px;
    position: absolute;
    top: -80px;
    left: 420px;
    align-self: flex-end;
    background-color:rgba(225, 225, 225, 0);
    border: none;
    outline: none;
    box-sizing: border-box;
}

.popup__clouse:hover {
    opacity: 0.6;
    cursor: pointer;
}



@media screen and (max-width: 767px) {
    .popup__clouse {
        top: -80px;
        left: 275px;
        max-width: 26px;
        max-height: 26px;
        
    }
}

@media screen and (max-width: 409px) {
    .popup__clouse {
        top: -80px;
        left: 230px;
        max-width: 26px;
        max-height: 26px;
        
    }
}
