.popup__clouse {
    transform: translate(80px, -50px);
    align-self: flex-end;
}

.popup__clouse:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .popup__clouse {
      max-width: 26px;
    max-height: 26px;
    transform: translate(35px, -40px);
}
     
    }
